body {
  padding: 8px;
  max-width: 800px;
  margin: auto;
}

h2 {
  margin-top: 3rem;
}

h3 {
  margin-top: 2rem;
}

.code {
  font-family: monospace;
  background-color: lightgray;
  border-radius: 4px;
  padding: 4px;
  overflow-x: auto;
}
